body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* nav bar  */
.navbar {
  background-color: #306c54;
  padding: 5px 10px;
  text-align: left;
  display: flex; 
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Notable', sans-serif; 
  font-size: 65px; 
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: transform 0.3s; 
  font-size: 25px

}

.dark-mode-toggle:hover {
  transform: scale(1.1); 
}

.home-link {
  color: white;
  text-decoration: none; 
  margin-right: 1px;
  font-size: 25px
}

.navbar-button {
  padding: 5px 15px;
  background-color: #306c54;  /* Green color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s; 
  
}

.navbar-button:hover {
  background-color: #285845;  /* Slightly darker green on hover */
}

.hover-grow:hover {
  transform: scale(1.1);  /* 10% increase in size */
}



.login-nav-text {
  width: 200%;
  background-color: white;
  color: #306c54;
  border: none;
  padding: 10px 30px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px
}

.login-container {
  background-color: #fff;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 5% auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #285845;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #285845;
}

.setting-icon {
  position: fixed;  /* 固定位置 */
  bottom: 50px;     /* 距离底部20像素 */
  right: 100px;     /* 距离右侧20像素 */
  font-size: 24px; /* 图标大小 */
  cursor: pointer; /* 鼠标悬停时呈现为手形 */
  transition: transform 0.3s;
}
.setting-icon:hover {
  transform: scale(1.1);  /* 悬停时放大1.1倍 */
}