/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #2E6F57;
  color: white;
  padding: 10px;
}

.content-container {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}
