/*Apply dynamic UI on search bar*/
.h3-responsive {
    font-size: 2vw; /* Adjust the font size based on the viewport width */
}

@media (max-width: 375px) { /* For smaller screens, you might want a minimum font size */
    .h3-responsive {
        font-size: 12px; /* Minimum font size */
        padding-bottom: 10px; /* Adds space between the text and the search bar */
    }

    .search-form {
        flex-direction: column; /* Stacks the elements vertically */
        align-items: flex-start; /* Aligns items to the start of the container */
    }
}

@media (min-width: 1200px) { /* For larger screens, you might want a maximum font size */
    .h3-responsive {
        font-size: 24px; /* Maximum font size */
    }
}
